-r requirements.txt
django-stubs[compatible-mypy]==6.1.1
djangorestframework-stubs[compatible-mypy]==3.18.1
factory-boy==3.3.3
mypy==2.3.1
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.14.0
ruff==0.16.9
